:root {
  --color-dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
}